modules = ["php", "nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start PHP Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PHP Executable Finder"

[[workflows.workflow]]
name = "Start PHP Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/ppkjv7h6x32j3bl7793a75lanramizbn-php-with-extensions-8.3.8/bin/php -S 0.0.0.0:8000"
waitForPort = 8000

[[workflows.workflow]]
name = "PHP Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/usr/bin/php -S 0.0.0.0:8000"
waitForPort = 8000

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 app.py"
waitForPort = 8000

[[workflows.workflow]]
name = "PHP Executable Finder"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "which php"

[deployment]
run = ["sh", "-c", "/usr/bin/php -S 0.0.0.0:8000"]

[[ports]]
localPort = 8000
externalPort = 80
